$f-monst-bold: "Montserrat-Bold";
$f-monst-regul: "Montserrat-Regular";
$f-roboto-light: 'Roboto-Light';
$color-red: rgba(255, 78, 80, 1);
$text-black:rgba(68, 68, 68, 1);
$br-radius: 40px;
$text-white: rgba(247, 243, 242, 1);
$color-255:rgba(255, 255, 255, 1);
$text-grej: rgba(227, 227, 227, 1);
$text-grej-more: rgba(153, 153, 153, 1);

.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.mb-10{
margin-bottom: 19px;
}